.playedSongs {
	width: 100%;
	background-color: azure;
	height: 150px;
}

.moveLeft {
	width: 10%;
	height: 150px;
	float: left;
}

.moveRight {
	width: 10%;
	height: 150px;
	float: left;
}

.moveLeft:Hover {
	background-color: #9A9ABD;
	width: 10%;
	height: 150px;
}

.moveRight:Hover {
	background-color: #9A9ABD;
	width: 10%;
	height: 150px;
}

.photos {
	width: 80%;
	height: 150px;
	float: left;
}

.image {
	float: left;
}

.unselectable {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

svg {
	padding-left: 6px;
	padding-top: 10px;
}

.arrow {
	cursor: pointer;
	width: 10%;
	height: 150px;
}

.left:hover polyline, .left:focus polyline {
	stroke-width: 3;
}

.left:active polyline {
	stroke-width: 6;
	transition: all 100ms ease-in-out;
}

.right:hover polyline, .right:focus polyline {
	stroke-width: 3;
}

.right:active polyline {
	stroke-width: 6;
	transition: all 100ms ease-in-out;
}

polyline {
	transition: all 250ms ease-in-out;
}

.cursor {
	cursor: pointer;
}
