.padding-l-r {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.small-players-icons {
	font-size: 27px;
	padding-top: 12px;
}

.large-players-icons {
	font-size: 37px;
	padding-top: 7px;
}

.range-field {
	width: 60%;
	margin-top: 0px;
	padding-top: 8px;
}

.h40 {
	height: 40px;
}

.volume_form {
	float: left;
	margin-bottom: 0px;
}

.like {
	color: #2B8E36;
}

.dislike {
	color: #8E1C1C;
}