

<div class="col s3"
	style="position: fixed; left: 0; z-index: 9999999; padding: 0;">
	<div class="blue lighten-5 " style="height: 61px;">
		<i class="material-icons prefix">add</i> <input style="width: 80%;"
			type="text" ng-model="ctrl.query" ng-change="ctrl.search()">
	</div>


	<div style="margin-left: 20px; background-color: white;"
		ng-show="ctrl.results.songs.length > 0 || ctrl.results.albums.length > 0 || ctrl.results.artists.length > 0 || ctrl.results.genres.length > 0">
		<div style="height: 15px; background: white;">
			<div class="arrow-up"></div>
		</div>
		<div class="z-depth-2 radius">

			<div class="blue lighten-5 top"></div>
			<div class="right-align blue lighten-5"
				ng-show="ctrl.results.songs.length > 0">
				<span>Songs</span>
			</div>
			<div class="collection" ng-repeat="item in ctrl.results.songs">
				<a href="#!" class="collection-item" ng-click="ctrl.create(item, 'song')">{{item.title}}</a>
			</div>

			<div class="right-align blue lighten-5"
				ng-show="ctrl.results.albums.length > 0">
				<span>Albums</span>
			</div>
			<div class="collection" ng-repeat="item in ctrl.results.albums">
				<a href="#!" class="collection-item"  ng-click="ctrl.create(item, 'album')">{{item.name}}</a>
			</div>

			<div class="right-align blue lighten-5"
				ng-show="ctrl.results.artists.length > 0">
				<span>Artists</span>
			</div>
			<div class="collection" ng-repeat="item in ctrl.results.artists">
				<a href="#!" class="collection-item"  ng-click="ctrl.create(item, 'artist')">{{item.name}}</a>
			</div>

			<div class="right-align blue lighten-5"
				ng-show="ctrl.results.genres.length > 0">
				<span>Genres</span>
			</div>
			<div class="collection" ng-repeat="item in ctrl.results.genres">
				<a href="#!" class="collection-item"  ng-click="ctrl.create(item, 'genre')">{{item.name}}</a>
			</div>
			<div class="blue lighten-5 bottom"></div>
		</div>

	</div>
</div>


<style>
.collection {
	background-color: white;
	margin: 0;
	border: none;
}

.collection .collection-item {
	padding: 0 20px;
	background-color: #E3F2FD;
}

.right-align {
	padding: 0 20px;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #E3F2FD;
	margin-left: 20%;
}

.collection .collection-item:hover {
	background-color: rgb(187, 222, 251) !important;
}
.right-align.blue.lighten-5 {
	padding: 10px 20px;
}

.blue.lighten-5.top {
	border-radius: 10px 10px 0 0;
	height: 10px;
}

.blue.lighten-5.bottom {
	border-radius: 0 0 10px 10px;
	height: 10px;
}

.z-depth-2.radius {
	border-radius: 10px;
}
</style>