<div>
	<div style="overflow: overlay; height: 80%;"
		class="col s4  blue lighten-5">
		Now playing
		<div ng-repeat="item in stations">
			<a href="#">{{item.name}}</a>
		</div>
	</div>
	<div class="col s8 " style="height: 300px;">
		<div class=" blue lighten-4">songs</div>
		<div class="blue lighten-5" style="height: 30%;">songs details</div>
	</div>
</div>