<link href="/resources/css/player.css" rel="stylesheet">
<div id="hiddenUpdater" ng-click></div>
<div>
	<div class="col s1 offset-s3">
		<i class="material-icons cursor small-players-icons h40"
			ng-class="{'dislike': unliked }"
			ng-click="player.dislikeUndislike()">thumb_down</i>
	</div>
	<div class="col s1">
		<i class="material-icons cursor small-players-icons h40"
			ng-click="player.likeUnlike()" ng-class="{'like': liked}">thumb_up</i>
	</div>
	<div class="col s1">
		<i class="material-icons cursor large-players-icons h40"
			ng-click="player.playOrStop()">{{playedIcon}}</i>
	</div>
	<div class="col s1">
		<i class="material-icons cursor large-players-icons h40"
			ng-click="player.next()">skip_next</i>
	</div>
	<div class="col s5 left h40">
		<form action="#" class="volume_form">
			<i class="material-icons left cursor small-players-icons"
				ng-click="player.toggleMute()">{{player.volumeIconName}}</i>
			<p class="range-field left">
				<input ng-model="player.volume" ng-change="player.changeVolume()"
					type="range" min="0" max="100" />
			</p>
		</form>
	</div>
</div>
<div class="col s1">{{player.msToTime(player.currentPossition)}}</div>
<div class="progress col s10 padding-l-r">
	<div class="determinate"
		style="width: {{player.currentPossition/player.stream.getDuration()*100}}%"></div>
</div>
<div class="col s1">{{player.msToTime(player.duration, true) }}</div>

