<div class="row">
	<div class="col s3 indigo lighten-5">Logo</div>
	<div class="col s6 blue lighten-5 center-align">Player</div>
	<div class="col s3 indigo lighten-5 right right-align">User</div>

	<div class="col s3 blue lighten-5" style="height: 61px; padding: 0">
		<create-station></create-station>
	</div>
	<div class="col s6 blue lighten-5 center-align" style="height: 61px;">
		<player></player>
	</div>
	<div class="col s3 blue lighten-5 right right-align"
		style="height: 61px; padding-top: 0; padding-bottom:0;"><song-info></song-info></div>
</div>
