<div style="width: 50%; margin: auto;">
		<div ng-controller="playedSongsController as songsCtrl"
			class="playedSongs unselectable ">
			<div class="moveLeft arrow left" ng-click="songsCtrl.prev()">
				<svg width="90%" height="90%" viewBox="0 0 50 80">
    				<polyline fill="none" stroke="#FFFFFF" stroke-width="1"
						stroke-linecap="round" stroke-linejoin="round"
						points="45.63,75.8 0.375,38.087 45.63,0.375 " />
  				</svg>
			</div>

			<div class="photos">
				<div ng-repeat="song in songsCtrl.songsToShow"
					ng-show="song.artworkUrl!=''">
					<img ng-src="{{song.artworkUrl}}" width="25%" height="150"
						class="image" />
				</div>
			</div>

			<div class="moveRight arrow right" ng-click="songsCtrl.next()">
				<svg width="90%" height="90%" viewBox="0 0 50 80">
    				<polyline fill="none" stroke="#FFFFFF" stroke-width="1"
						stroke-linecap="round" stroke-linejoin="round"
						points="0.375,0.375 45.63,38.087 0.375,75.8 " />
  				</svg>
			</div>

		</div>
	</div>