<div class="col s10">
	<div style="font-weight: 600;">{{ song.title | limitTo: 20
		}}{{song.title.length > 20 ? '...' : ''}}</div>

	<div style="line-height: 1;">on {{ song.album.name | limitTo: 20
		}}{{song.album.name.length > 20 ? '...' : ''}}</div>

	<div>by {{ song.artist.name | limitTo: 20
		}}{{song.artist.name.length > 20 ? '...' : ''}}</div>

</div>
<div class="col s2">
	<img src="{{song.artworkUrl}}" width="61px" height="61px" />
</div>