
<div class="row">
	<div class="col s12">
		<ul class="tabs">
			<li class="tab col s3 cursor"><a
				ng-class="{active:tab.isSet(1)}" ng-click="tab.setTab(1)">Now
					playing</a></li>
			<li class="tab col s3 cursor"><a
				ng-class="{active:tab.isSet(2)}" ng-click="tab.setTab(2)">Discover</a></li>
			<li class="tab col s3 cursor"><a
				ng-class="{active:tab.isSet(3)}" ng-click="tab.setTab(3)">My
					profile</a></li>
		</ul>
	</div>
	<div id="now-playing" class="col s12" ng-show="tab.isSet(1)">
		<now-playing></now-playing>
	</div>
	<div id="discover" class="col s12" ng-show="tab.isSet(2)">
		<discover></discover>
	</div>
	<div id="profile" class="col s12" ng-show="tab.isSet(3)">
		<profile></profile>
	</div>
</div>
<script type="text/javascript">
    $('ul.tabs').tabs();
</script>
